@import "tailwindcss";

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo2-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo2-Bold.woff2") format("woff2");
  font-weight: 700;
}

@tailwind utilities;

@layer base {
  body {
    font-family: "Exo 2", sans-serif;
  }
}

.clip-marker {
  clip-path: polygon(0 35%, 100% 10%, 100% 85%, 0 100%);
}